@model dynamic

@{
    ViewBag.Title = "CursoDetalle";
}

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Detalles del Curso</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Item Details -->
<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="" id="current" alt="Imagen de Curso">
                            </div>
                        </main>
                    </div>
                </div>
                @{

                    bool isLogged = true;
                    Cursos.Models.usuario credenciales = (Cursos.Models.usuario)Session["usuario"];
                    if (credenciales == null)
                    {
                        isLogged = false;
                    }

                    <div class="col-lg-6 col-md-12 col-12">
                                        <div class="product-info">
                                            <h2 class="title">@Model.curso.nombre</h2>
                                            @if (isLogged && credenciales.estudiante == true)
                                            {
                                                <h3 class="price">$@Model.curso.costoPref</h3>
                                            }
                                            else if (isLogged && credenciales.estudiante == false)
                                            {
                                                <h3 class="price">$@Model.curso.costo</h3>
                                            }
                                            else
                                            {
                                                <h3 class="price">$@Model.curso.costo</h3>
                                            }
                                            <p class="info-text"></p>
                                                <p>Modalidad:  <b>@Model.curso.modalidad.modalidad1</b> </p>
                                                <p>Horas:  <b>@Model.curso.horas</b> Horas </p>
                                                <p>Fecha de Inicio:  <b>@Model.curso.fechaIni.ToString("dd-MM-yyyy")</b>  </p>
                                                <p>Fecha de Termino:  <b>@Model.curso.fechaTer.ToString("dd-MM-yyyy")</b>  </p>

                                            <form action="@Url.Action("FichaDePago", "Cursos", new { id = @Model.curso.id })">
                                                <div class="bottom-content">
                                                    <div class="row align-items-end">
                                                        <div class="col-lg-4 col-md-4 col-12">
                                                            <div class="button cart-button">
                                                                <button type="submit" class="btn btn-primary btn-block mb-3" style="width: 100%;">Registrarse</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                    </div>

                 }


                </div>
        </div>
    </div>
</section>
<!-- End Item Details -->