@using Cursos.Models


@{ 
    var dato = ViewBag.UsuarioCurso;
}



<html>
<head>
    <title>Administrador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
          rel="stylesheet" />

    <link href="~/Recursos/CSS/tableStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container-xl">

        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-login" href="@Url.Action("Tablas","Admin")" role="tab"
                   aria-controls="pills-login" aria-selected="true">Cursos</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-register" href="@Url.Action("TablasUsuarios","Admin")" role="tab"
                   aria-controls="pills-register" aria-selected="false">Usuarios</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Usuarios <b>Inscritos</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th style="width:50%">Cursos</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var inscritos in dato)
                        {
                            <tr>
                                <td>@inscritos.idUsuario</td>
                                <td>@inscritos.nombreUsuario</td>
                                <td>@inscritos.apellido</td>
                                <td>@inscritos.telefono</td>
                                <td>
                                    @string.Join(", ", inscritos.nombreCurso) 
                                </td>
                                
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="clearfix">
                    <!-- Paginacion -->
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js">
    </script>



</body>

<!-- MDB -->

</html>
