@model Cursos.Models.ModelViewCursoUsuarios

<html>
<head>
    <title>Administrador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
          rel="stylesheet" />

    <link href="~/Recursos/CSS/tableStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@Model.course[0].nombre</h2>
                    <p>
                        Aqui puedes observar los detalles del curso y sus inscritos
                    </p>
                </div>
            </div>
        </div>


        <input type="text" hidden name="id" id="idUsuario" class="form-control" value="@Model.course[0].id" readonly />

        <br />
        <div class="row">
            <div class="col-md-6">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" name="nombre" id="Nombre" class="form-control" value="@Model.course[0].nombre" disabled />
                    <label class="form-label" for="Nombre">Curso</label>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Lastname input -->
                <div class="form-outline mb-4">
                    <input type="text" name="modalidad" id="modalidad" class="form-control" value="@Model.course[0].modalidad.modalidad1" disabled />
                    <label class="form-label" for="modalidad">Modalidad</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" name="fechaIni" id="fechaIni" class="form-control" value="@Model.course[0].fechaIni" disabled />
                    <label class="form-label" for="fechaIni">Fecha de Inicio</label>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Lastname input -->
                <div class="form-outline mb-4">
                    <input type="text" name="fechaTer" id="fechaTer" class="form-control" value="@Model.course[0].fechaTer" disabled />
                    <label class="form-label" for="fechaTer">Fecha de Conclusion</label>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Lastname input -->
                <div class="form-outline mb-4">
                    <input type="text" name="horas" id="horas" class="form-control" value="@Model.course[0].horas horas" disabled />
                    <label class="form-label" for="horas">Duracion de curso</label>
                </div>
            </div>
        </div>


        <div class="tab-content">
            <div class="table-wrapper">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre y Apellido</th>
                            <th>Email</th>
                            <th>telefono</th>
                            <th>Matricula</th>
                            <th>Espacialidad</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for( int i= 0 ; i < Model.user.Count; i++)
                        {
                            var user = Model.user[i];
                            var student = Model.student.ElementAtOrDefault(i);
                            <tr>
                                <td>@user.id</td>
                                <td>@user.nombre @user.apellido</td>
                                <td>@user.email</td>
                                <td>@user.telefono</td>
                                @if (user.estudiante == true && student != null)
                                {
                                    <td>@student.matricula</td>
                                    <td>@student.carrera</td>
                                }
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="clearfix">
                    <!-- Paginacion -->
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>





    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js">
    </script>

</body>

<!-- MDB -->



</html>
